{% extends "base.html" %}

    {% block title %}Login Example{% endblock %}

    {% block body %}
    <h1>Assignment 2</h1>

    <a href="/workshop2/public/?register">Register a new user</a>

    {% if isLoggedIn %}
      <h2>Logged in</h2>
    {% else %}
    <h2>Not logged in</h2>
    {% endif %}

    <div class="container">
			<form method="post" action="/workshop2/public/login">
				<fieldset>
					<legend>Login - enter Username and password</legend>
					<p id="' . self::$messageId . '">' . $message . '</p>

					<label for="' . self::$name . '">Username :</label>
					<input type="text" id="' . self::$name . '" name="name" value="" />

					<label for="' . self::$password . '">Password :</label>
					<input type="password" id="' . self::$password . '" name="password" />

					<label for="' . self::$keep . '">Keep me logged in  :</label>
					<input type="checkbox" id="' . self::$keep . '" name="' . self::$keep . '" />

					<input type="submit" name="' . self::$login . '" value="login" />
				</fieldset>
      </form>
      <p>{{ dateTime }}</p>
    </div>
{% endblock %}